astroid==2.5.2
click==8.0.4
colorama==0.4.4
distlib==0.3.4
filelock==3.4.2
Flask==2.0.3
isort==5.8.0
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.6.0
MarkupSafe==2.1.0
mccabe==0.6.1
platformdirs==2.4.1
psycopg2-binary==2.9.3
pylint==2.7.2
six==1.16.0
virtualenv==20.13.1
Werkzeug==2.0.3
wrapt==1.12.1
