{% extends "authentication/auth_layout.html" %}
{% block title %} otp {% endblock %}


{% block body %}  
<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Campus</b>Connect</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
  
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" id="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" id="change_password">Change password</button>
            </div>
            <!-- /.col -->
          </div>
  
        <p class="mt-3 mb-1">
          <a href="/login">Login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

{% endblock %}



{% block scripts %} 
<script src="{{ url_for('static', filename='js/recov_password.js')}}"></script>
{% endblock %}
